<div class="py-32   px-20 flex flex-col items-center relative">
  <div class="w-full absolute top-0 left-0 pl-20 pt-10">
    <div
      class="w-[173.71px] h-[47px] bg-indigo-700 rounded-[100px] text-white flex justify-center items-center font-semibold cursor-pointer hover:opacity-50"
    >
      GET SOLUTION
    </div>
  </div>
  <div
    class="text-gray-950 text-[40px] font-bold font-['Nunito Sans'] leading-[50px] tracking-tight w-full"
  >
    Troubleshooting ...
  </div>

  <div class="flex flex-col gap-10 mt-10 w-full">
    <button
      class="w-full h-20 bg-base rounded-[15px] text-left px-8 text-2xl hover:outline hover:outline-blue-500"
    >
      Issue 1
    </button>
    <button
      class="w-full h-20 bg-base rounded-[15px] text-left px-8 text-2xl hover:outline hover:outline-blue-500"
    >
      Issue 2
    </button>
    <button
      class="w-full h-20 bg-base rounded-[15px] text-left px-8 text-2xl hover:outline hover:outline-blue-500"
    >
      Issue 3
    </button>
  </div>

  <div class="w-full mt-12 flex flex-row-reverse">
    <div
      class="w-[173.71px] h-[47px] bg-indigo-700 rounded-[100px] text-white flex justify-center items-center font-semibold cursor-pointer hover:opacity-50"
    >
      GET SOLUTION
    </div>
  </div>
</div>
