<div class="w-full flex justify-center">
  <div
    class="w-[1200px] h-[706px] p-6 bg-white rounded-2xl shadow-xl flex-col justify-end items-end gap-[69px] inline-flex"
  >
    <div class="self-stretch h-20 flex-col justify-start items-start flex">
      <div
        class="text-gray-950 text-[40px] font-bold font-['Nunito Sans'] leading-[50px] tracking-tight"
      >
        Feedback form
      </div>
      <div
        class="text-stone-500 text-xl font-normal font-['Nunito Sans'] leading-[30px] tracking-tight"
      >
        Please share your opinion
      </div>
    </div>
    <div
      class="self-stretch h-[102px] flex-col justify-start items-start gap-4 flex"
    >
      <div
        class="text-gray-950 text-2xl font-semibold font-['Nunito Sans'] leading-[30px] tracking-tight"
      >
        Rate our services
      </div>
      <div class="justify-start items-start gap-2 inline-flex">
        <div class="w-14 h-14 relative"></div>
        <div class="w-14 h-14 relative"></div>
        <div class="w-14 h-14 relative"></div>
        <div class="w-14 h-14 relative"></div>
        <div class="w-14 h-14 relative"></div>
      </div>
    </div>
    <div
      class="self-stretch h-[161px] flex-col justify-start items-start gap-4 flex"
    >
      <div
        class="text-gray-950 text-2xl font-semibold font-['Nunito Sans'] leading-[30px] tracking-tight"
      >
        What can be improved?
      </div>
      <div
        class="self-stretch h-[115px] px-4 py-3 bg-sky-100 rounded-xl justify-start items-start gap-2.5 inline-flex"
      >
        <div
          class="text-slate-500 text-base font-medium font-['Montserrat'] leading-normal tracking-tight"
        >
          Let us know what can be done better
        </div>
      </div>
    </div>
    <button
      class="px-4 py-2 bg-indigo-700 rounded-[100px] justify-center items-center gap-2.5 inline-flex hover:opacity-75"
    >
      <div
        class="text-white text-lg font-bold font-['Nunito Sans'] leading-[30px] tracking-tight"
      >
        SUBMIT
      </div>
    </button>
  </div>
</div>
