<div class="grid grid-cols-3 gap-4">
  <div class="flex flex-col gap-4">
    <img src="../../../../assets/img/inspiration_1.png" alt="">
    <img src="../../../../assets/img/inspiration_4.png" alt="">
  </div>
  <div class="flex flex-col gap-4">
    <img src="../../../../assets/img/inspiration_2.png" alt="">
    <img src="../../../../assets/img/inspiration_5.png" alt="">
  </div>
  <div class="flex flex-col gap-4">
    <img src="../../../../assets/img/inspiration_3.png" alt="">
    <img src="../../../../assets/img/inspiration_6.png" alt="">
  </div>
</div>
