<div class="flex">
  <div class="w-3/5 h-screen">
    <img
      class="w-full h-full object-fill"
      src="../../../assets/img/login.png"
      alt=""
    />
  </div>
  <div class="w-2/5 flex flex-col pt-40 items-center">
    <div class="flex justify-center items-center">
      <img class="h-full" src="../../../assets/svg/Group_1.svg" alt="" />
      <div
        class="text-indigo-700 text-[56px] font-bold leading-[61px] tracking-tight ml-4"
      >
        AIAD
      </div>
    </div>

    <input
      class="w-[440px] h-16 bg-base rounded-[15px] px-6 text-2xl focus:outline-none mt-24"
      placeholder="Username"
      [(ngModel)]="username"
    />
    <input
      class="w-[440px] h-16 bg-base rounded-[15px] px-6 text-2xl focus:outline-none mt-4"
      placeholder="Email"
      [(ngModel)]="email"
    />
    <input
      class="w-[440px] h-16 bg-base rounded-[15px] px-6 text-2xl focus:outline-none mt-4"
      placeholder="Password"
      type="password"
      [(ngModel)]="password"
    />
    <input
      class="w-[440px] h-16 bg-base rounded-[15px] px-6 text-2xl focus:outline-none mt-4"
      placeholder="Confirm password"
      type="password"
      [(ngModel)]="confirmPassword"
    />

    <button
      (click)="handleSubmit()"
      class="w-[197px] h-[72px] bg-indigo-700 rounded-[91px] mt-12 flex justify-center items-center text-white text-2xl hover:opacity-50"
    >
      Sign up
    </button>

    <span
      class="text-center text-teal-950 text-2xl font-light leading-[30px] tracking-tight mt-16"
      >Already have an account?
      <span
        class="text-indigo-700 text-[28px] font-bold leading-[37px] tracking-tight hover:underline cursor-pointer"
        (click)="login()"
      >
        Sign in
      </span></span
    >
  </div>
</div>
