<div class="flex">
  <div class="w-3/5 h-screen">
    <img
      class="w-full h-full object-fill"
      src="../../../assets/img/login.png"
      alt=""
    />
  </div>
  <div class="w-2/5 flex flex-col pt-40 items-center">
    <div class="flex justify-center items-center">
      <img class="h-full" src="../../../assets/svg/Group_1.svg" alt="" />
      <div
        class="text-indigo-700 text-[56px] font-bold leading-[61px] tracking-tight ml-4"
      >
        AIAD
      </div>
    </div>
    <input
      class="w-[440px] h-16 bg-base rounded-[15px] px-6 text-2xl focus:outline-none mt-24"
      placeholder="Email"
    />
    <input
      class="w-[440px] h-16 bg-base rounded-[15px] px-6 text-2xl focus:outline-none mt-4"
      placeholder="Password"
      type="password"
    />

    <div class="flex mt-4 justify-between w-[440px]">
      <div class="w-[30%] cursor-pointer hover:opacity-70 h-20bg-sky-100 flex justify-center items-center">
        <img src="../../../assets/svg/google.svg" alt="" />
      </div>
      <div class="w-[30%] cursor-pointer hover:opacity-70 h-20bg-sky-100 flex justify-center items-center">
        <img src="../../../assets/svg/facebook.svg" alt="" />
      </div>
      <div class="w-[30%] cursor-pointer hover:opacity-70 h-20bg-sky-100 flex justify-center items-center">
        <img src="../../../assets/svg/instagram.svg" alt="" />
      </div>
    </div>

    <span
      class="text-center text-teal-950 text-2xl font-light leading-[30px] tracking-tight mt-16"
      >Don’t you have an account?
      <span
        class="text-indigo-700 text-[28px] font-bold leading-[37px] tracking-tight hover:underline cursor-pointer"
      >
        Sign up
      </span></span
    >
  </div>
</div>
