<div class="flex">
  <div
    class="w-full h-[92px] bg-white shadow flex items-center justify-between fixed t-0 r-0 l-0 z-10"
  >
    <div class="flex items-center pl-4 cursor-pointer">
      <img src="../../../assets/svg/Group_1.svg" alt="" class="p-4" />
      <div
        class="text-indigo-700 text-[52px] font-bold leading-[61px] tracking-tight h-full flex justify-center items-center"
      >
        AIAD
      </div>
    </div>
    <div class="flex items-center pr-8">
      <div
        class="text-indigo-700 text-2xl font-normal font-['Nunito Sans'] leading-[33px] tracking-tight mr-8 cursor-pointer hover:opacity-60"
        (click)="signIn()"
      >
        Sign in
      </div>
      <div
        class="w-[164px] h-[54px] bg-indigo-700 rounded-[15px] text-2xl text-white flex justify-center items-center cursor-pointer hover:opacity-60"
        (click)="signUp()"
      >
        Sign up
      </div>
    </div>
  </div>
  <div class="w-3/4 h-screen relative flex flex-col p-40 items-center">
    <img
      class="w-full h-full object-fill opacity-25 absolute top-0 right-0 left-0 bottom-0 z-0"
      src="../../../assets/img/dashboard_1.png"
      alt=""
    />

    <div class="w-[708px] flex flex-col items-center z-10">
      <span
        class="text-black text-[52px] font-bold font-['Nunito Sans'] leading-[61px] tracking-tight"
        >Design Brilliance Unleashed: </span
      ><span
        class="text-indigo-700 text-[73px] font-black font-['Nunito Sans'] leading-[81px] tracking-tight mt-4"
        >Your Vision, Our AI.
      </span>

      <div
        class="text-black text-2xl font-light font-['Nunito Sans'] leading-[30px] tracking-tight mt-2"
      >
        Redefining Interior Architecture with Innovation and Collaboration.
      </div>

      <div class="w-full flex flex-col items-center gap-4 px-12 mt-12">
        <div class="w-full flex">
          <div
            class="w-1/4 text-black text-4xl font-bold font-['Nunito Sans'] leading-[43px] tracking-tight"
          >
            8M+
          </div>
          <div
            class="w-3/4 text-black text-[28px] font-normal font-['Nunito Sans'] leading-[38px] tracking-tight"
          >
            interior designers worldwide
          </div>
        </div>
        <div class="w-full flex">
          <div
            class="w-1/4 text-black text-4xl font-bold font-['Nunito Sans'] leading-[43px] tracking-tight"
          >
            400K+
          </div>
          <div
            class="w-3/4 text-black text-[28px] font-normal font-['Nunito Sans'] leading-[38px] tracking-tight"
          >
            projects rendered daily
          </div>
        </div>
        <div class="w-full flex">
          <div
            class="w-1/4 text-black text-4xl font-bold font-['Nunito Sans'] leading-[43px] tracking-tight"
          >
            300K+
          </div>
          <div
            class="w-3/4 text-black text-[28px] font-normal font-['Nunito Sans'] leading-[38px] tracking-tight"
          >
            3D product models to deploy
          </div>
        </div>
      </div>

      <div
        class="w-[480px] h-[72px] bg-indigo-700 rounded-[91px] flex justify-center items-center text-white font-bold text-4xl mt-12"
      >
        Sign up now!
      </div>
    </div>
  </div>
  <div class="w-1/4 h-screen">
    <img class="w-full" src="../../../assets/img/dashboard_1.png" alt="" />
  </div>
</div>
