<div class="flex">
  <div
    class="w-full h-[92px] bg-white shadow flex items-center justify-between fixed t-0 r-0 l-0 z-50"
  >
    <div class="flex items-center pl-4 cursor-pointer" (click)="goHome()">
      <img src="../../../assets/svg/Group_1.svg" alt="" class="p-4" />
      <div
        class="text-indigo-700 text-[52px] font-bold leading-[61px] tracking-tight h-full flex justify-center items-center"
      >
        AIAD
      </div>
    </div>
    <div class="flex items-center pr-8 gap-4">
      <div class="cursor-pointer hover:opacity-75 p-2">
        <img class="" src="../../../assets/svg/internet.svg" alt="" />
      </div>
      <div class="cursor-pointer hover:opacity-75 p-2">
        <img class="" src="../../../assets/svg/question_mark.svg" alt="" />
      </div>
      <div class="cursor-pointer hover:opacity-75 p-2">
        <img class="" src="../../../assets/svg/bell.svg" alt="" />
      </div>
      <div class="">
        <img
          class="cursor-pointer hover:opacity-75 w-16 h-16 object-fill rounded-full border-[#4DA5A5] border-4"
          src="../../../assets/img/Nguyễn_Phương_Quang.jpg"
          alt=""
        />
      </div>
      <div class="cursor-pointer hover:opacity-75 p-2">
        <img class="" src="../../../assets/svg/down_arrow.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="flex pt-[92px] w-screen h-screen">
    <div
      class="w-[360px] bg-base px-12 pt-[136px] flex flex-col justify-between fixed top-0 left-0 bottom-0"
    >
      <div class="flex flex-col gap-4">
        <a
          class="text-[28px] font-medium leading-[43px] tracking-tight hover:bg-indigo-700 hover:text-white py-2 px-4 rounded-xl cursor-pointer"
          [ngClass]="{
            'text-indigo-700': checkLocation('my-projects'),
            'text-slate-400': !checkLocation('my-projects')
          }"
          [routerLink]="['my-projects']"
        >
          My projects
        </a>
        <a
          class="text-[28px] font-medium leading-[43px] tracking-tight hover:bg-indigo-700 hover:text-white py-2 px-4 rounded-xl cursor-pointer"
          [ngClass]="{
            'text-indigo-700': checkLocation('inspiration'),
            'text-slate-400': !checkLocation('inspiration')
          }"
          [routerLink]="['inspiration']"
        >
          Inspiration
        </a>
        <a
          class="text-[28px] font-medium leading-[43px] tracking-tight hover:bg-indigo-700 hover:text-white py-2 px-4 rounded-xl cursor-pointer"
          [ngClass]="{
            'text-indigo-700': checkLocation('provide-feedback'),
            'text-slate-400': !checkLocation('provide-feedback')
          }"
          [routerLink]="['provide-feedback']"
        >
          Provide Feedback
        </a>
      </div>
      <a
        class="flex items-center gap-2 mb-4 hover:opacity-75 cursor-pointer"
        [routerLink]="['troubleshoot']"
      >
        <img src="../../../assets/svg/setting.svg" alt="" />
        <div
          [ngClass]="{ underline: checkLocation('troubleshoot') }"
          class="text-indigo-700 text-xl font-semibold tracking-tight"
        >
          Troubleshoot
        </div>
      </a>
    </div>
    <div class="ml-[360px] w-3/4 p-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
